<form #cardForm="ngForm">
  <div class="form-group">
    <mat-form-field>
      <input
        [(ngModel)]="cardData.question"
        #question="ngModel"
        matInput
        placeholder="Question"
        name="question"
        required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <textarea
        [(ngModel)]="cardData.answer"
        #answer="ngModel"
        matInput
        placeholder="Answer"
        name="answer"
        required></textarea>
    </mat-form-field>
  </div>
  <button color="primary"
    mat-flat-button
    class="mat-flat-button mat-primary"
    (click)="setFormData()"
    [disabled]="!cardForm.valid">
    <span class="mat-button-wrapper">Primary</span>
  </button>
</form>
